<!DOCTYPE html>
<html>
<head><title>PMC-REF [beta]</title>
<meta charset="utf-8">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<h2>PMC-REF [beta]</h2>
<nav>
	<ul>
		<li><a href="about">API</a></li>
		<li><a href="/">Home</a></li>
	</ul>

</nav>
	

	<section>
		<p>pmc-ref is a quick way of checking how many references in an article are free to access via PubMed Central.</p>
	</section>
	




<script type="text/javascript" src="/javascripts/javascript.js"></script>

</body>
</html>