<!DOCTYPE html>
<html>
<head><title>PMC reference checker</title>
<meta charset="utf-8">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<a href="/"><h2>PMC reference checker</h2></a>
<nav>
	<ul>
		
		<li><a href="/about">About</a></li>
		<li><a href="/api">API</a></li>
		
		<li><a>Contact</a></li>
			<li><a href="https://github.com/RobSullivan/pmc-ref">GitHub</a></li>
			<li><a href="">Twitter</a></li>
	</ul>

</nav>
	

	<section>
		<p>PMC reference checker is a quick way of finding out how many references in an article are free to access via PubMed Central.</p>
		
		
		<p>Here are a few dois to get started:</p>
		<ul>
			<li>10.1371/journal.pgen.1004432</li>
			<li>10.1038/nbt.1667</li>
			<li>10.1038/nature11543</li>
			<li>10.1016/j.imlet.2006.09.005</li>
			<li>10.1016/j.imlet.2006.09.005</li>
			<li>10.1038/hdy.2010.93</li>
			<li>10.3389/fpls.2014.00367</li>
			<li>10.1038/nature10158</li>
			<li>10.1371/journal.pone.0088397</li>
			<li>10.1186/1471-2164-14-741</li>
			<li>10.1371/journal.pone.0075609</li>
			<li>10.1186/1471-2164-14-604</li>
			<li>10.1186/1471-2164-14-590</li>
			<li>10.1371/journal.pone.0069852</li>
			<li>10.1007/s10719-013-9486-6</li>
			<li>10.1371/journal.pone.0066522</li>
			<li>10.1371/journal.pone.0051248</li>
		</ul>

		<p>An API is also available.</p>
	</section>
	


</body>
</html>