<!DOCTYPE html>
<html class="no-js" lang="en">
<head><title>pmc-ref: a pubmed central reference checker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<!--Force IE to use the latest version of its rendering engine-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Modernizr web page test">
<title>PubMed Central Reference Checker</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<!--<link href='http://fonts.googleapis.com/css?family=Fredoka+One|Squada+One' rel='stylesheet' type='text/css'>-->
<script src="modernizr.js"></script>

<!--<link href='http://fonts.googleapis.com/css?family=Fredoka+One|Squada+One' rel='stylesheet' type='text/css'>-->
</head>


<body>

<header class ="header" role="banner">
<div class="header-logo"><a title="pmc-ref" href="/"><i class="logo"></i></a></div>
<!--The page navigation-->

<nav role="navigation" class="header-items">
	
		
		<a class="header-item" href="/about">About</a>
		<a class="header-item" href="/api">API</a>
		
		

</nav>


</header>



<main id="main" role="main" class="home">
<h1 class="home-heading">Find which of your article's references are free to read.</h1>
<h3 class="home-subheading">Using a DOI list all the references that are free to read in PubMed Central or check the percentage of free references.</h2>


<div id="checker" class="doi-forms">

	

	<form id="references" class="submit_form" method="GET" action="/api/v1/references/free/">
		<label for="doi_references">Show free references</label>
		<input type="text" name="doi" id="doi_references" placeholder="10.1038/nature10158"/>
		<input id="show_refs" type="submit" value="submit"/>
	</form>






	<form id="doi" class="submit_form" method="GET" action="/api/v1/articles/status/">
	

	<label for="enter_doi">Check status</label>
	<input type="text" name="doi" id="enter_doi"  placeholder="10.1038/nature10158" class="input-text" />
	<input id="submit_doi" type="submit" value="submit" />




	
	</form>
	
	
	</div>	



</main>
	


	<footer class="footer">
	
		<div class="footer-links">
		<p>
		<a href="https://mozillascience.org/collaborate">Collaborate</a>
		<a href="https://rjsullivan.wufoo.com/forms/z129838z0g247k6/">Contact/feedback</a>
		<a href="https://github.com/RobSullivan/pmc-ref">GitHub</a>
		</p>
		</div>
		<p class="image_credit">Image designed by Vecteezy.com</p>
	</footer>
</body>
</html>
