<!DOCTYPE html>
<html lang="en">
<head><title>PMC reference checker</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<h2>PMC reference checker</h2>
<nav>
	<ul>
		
		<li><a href="/about">About</a></li>
		<li><a href="/api">API</a></li>

			<li><a>Contact</a></li>
			<li><a href="https://github.com/RobSullivan/pmc-ref">GitHub</a></li>
			<li><a href="">Twitter</a></li>
	</ul>

</nav>

	<div class="forms">

	<form id="doi" class="doi" method="GET" action="/api/v1/articles/status/">
	

	<label for="enter_doi">Check status:</label>
	<input type="text" name="doi" id="enter_doi"  placeholder="10.1038/nature10158" class="input-text" />
	<input id="submit_doi" type="submit" value="submit" />




	
	</form>

	<form id="references" method="GET" action="/api/v1/references/free/">
		<label for="doi_references">Show free references:</label>
		<input type="text" name="doi" id="doi_references" placeholder="10.1038/nature10158" class="input-text" />
		<input id="show_refs" type="submit" value="submit"/>
	</form>
	
	
	</div>
	


	<footer>
		<p>Credit to Vecteezy.com for images</p>
	</footer>




</body>
</html>
