body {
  
  width: 100%;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  border-top-style: solid;
  border-bottom-style: solid;
  
}

h2 {
	border-top-style: solid;
	border-bottom-style: solid;
	
	margin: 2.5%;
	padding: 5%;
	/*color: #F26419;*/
	
}

nav{
	border-top-style: solid;
	border-bottom-style: solid;
	margin: 2.5%;
	padding: 5%;
	/*color: #F26419;*/
}

li {
	list-style:none;
	display:inline;
	
}

div.forms{
	border-top-style:solid;
	border-bottom-style:solid;
	margin:2.5%;
	padding: 5%;
	/*color: #F26419;*/
}

a {
  /*color: #F26419;*/
  
  
  
}

a:hover, a:focus, a:active{
	
}



form{
	padding-left: 25%;
	padding-right: 25%;
	margin: 5px;
	width: 80%;
	margin-bottom: 1.5em;
}

label{
	 margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 12em; 
  text-align: right; 
  float: left;
  /*color: #F26419;*/ 

  }

input{
	margin: 0; 
  	padding: 0; 
  	
  	font-size: 100%; 
}

footer{
	border-top-style:solid;
	border-bottom-style:solid;
	margin: 2.5%;
	padding: 5%;
	/*color: #F26419;*/
}
