body {
  
  width: 100%;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  /*border-top-style: solid;
  border-bottom-style: solid;*/
  background-image: url('/images/molecule.png');
  
}

h2 {
	/*border-top-style: solid;
	border-bottom-style: solid;*/
	border-color: black;
	width: 40%;
	/*margin: 2.5%;*/
	padding: 1%;
	color: black;


	
}

nav {
	/*border-top-style: solid;
	border-bottom-style: solid;*/
	/*margin: 2.5%;*/
	width: 40%;
	padding: 1%;
	color: black;

	
	
}

nav > ul > li {
	list-style: none;
	display: inline;
	
}

div.forms, article {
	/*border-top-style: solid;*/
	/*border-bottom-style: solid;*/
	margin: 2.5%;
	padding: 1%;
	
}

a, a:link {
  color: black;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: red;
}




form{
	padding-left: 25%;
	padding-right: 25%;
	margin: 5px;
	width: 80%;
	margin-bottom: 1.5em;
}

label{
	 margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 12em; 
  text-align: right; 
  float: left;
  color: black;

  }

input{
	margin: 0; 
  	padding: 0; 
  	
  	font-size: 100%; 
}


