*, :after, :before{
	box-sizing: inherit;
}

body {
	background: #ececec;
	display: flex;
	/*don;t know what webkit does nor flex-direction*/
	-webkit-box-orient: veritcal;
	flex-direction: column;
	font-family: Helvetica; 
}

.header{
	display: flex;
	background: #fff;
	width: 100%;
	height: 120px;
	-webkit-transition: height .3s;
}

.header-logo{
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	font-family: arial;
}

.header-logo .logo{
	display: block;
	width: 200px;
	background: url("/images/molecules.svg") center left no-repeat;
	background-size: contain;
	max-width: 200px;
	height: 100px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.header-logo a{
	
	-webkit-box-pack:start;
	justify-content:start;
	padding-left: 40px;
}


.header-items{
	z-index: 3;
	display: flex;
	height: 120px;
	-webkit-box-flex: 1;
	flex: 1 0 50%;
	align-items: flex-start;
}

.header a{
	text-decoration: none;
	display: flex;
	height: 100%;
	color: #444;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.2em;
	font-weight: 600;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;

}


.header-item{
	text-align: center;
	background: #fff;
	height: 100%;
	border-left: 1px solid #ececec;
	flex: 1;
}

.header-item:focus,
.header-item:hover,
.header-item.active {
  outline: none;
  /*background: #F8F991; alternate*/
  background: #FFAB00;
}

.main{
	color: #444;
	margin: 65px 40px;
}

.home{
	color: #444;
}

.home h1{
	font-size: 4em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.16em;
	letter-spacing: -.02em;
}

.home-heading{
	max-width: 12em;
}

.home h3{
	font-size: 2em;
	font-weight: 100;
}

.doi-forms{
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	color: #444;
}

.submit_form{
	z-index: 3;
	display: flex;
	height: 100px;
	align-items: center;
	text-align: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	justify-content: center;
	
}


label{
	color: #444;
	font-size: 1.25em;
	font-weight: 100;
	padding-top: .1em; 
	padding-right: .25em; 
	width: 12em;
	text-align: right;
}

input{
	margin: 0; 
  	padding: 0; 
  	font-size: 1.25em;
}


.footer{
	position: relative;
	display: flex;
	padding: 2em 40px;
	min-height: 150px;
	background: #7A82AB;
	line-height: 1.6;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	align-items: flex-end;
	flex-direction: column;
	text-align: center;
	font-size: 16px;
	padding-bottom: 1em;
}

.footer-links{
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	width: 100%;

}

.footer p{
	margin: 0 0 .5em;
}

.footer a{
	color: #ececec;
	text-decoration: underline;
}


.footer .image_credit{
	color: #ececec;
	font-size: 0.75em;

}

