* {
	box-sizing: border-box;/*ALP article on responseve images in practice*/
}

body {
  
  width: 100%;
  font: 1.25em  Helvetica, Arial, sans-serif;
  background-color: #fff;
  background: url(../images/molecule_small.png);
  background-repeat: no-repeat;
  background-position: 80% 80%;

  
  
}

h2 {
	
	border-color: black;
	width: 100%;
	padding: 1%;
	color: black;
	
	
	


	
}

nav {

	width: 100%;
	height: 50%;
	text-align: center;
	position: fixed;
	top: 0;
	padding: 0;
	z-index: 10;
	border-bottom: solid 1px white;

	
	
}

nav a{
	padding: 0 10px;
	margin: 0 1px;
	background: #eee;
}

footer p{
	font-size: 10px;
}

nav > ul > li {
	list-style: none;
	display: inline;
	
}

div.forms, article {
	
	margin: 2.5%;
	padding: 1%;
	
}

a, a:link {
  color: black;
  text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: red;
}




form{
	padding-left: 25%;
	padding-right: 25%;
	margin: 5px;
	width: 80%;
	margin-bottom: 1.5em;
}

label{
	 margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 12em; 
  text-align: right; 
  float: left;
  color: black;

  }

input{
	margin: 0; 
  	padding: 0; 
  	
  	font-size: 100%; 
}

