body {
  
padding-top: 50px;
margin: 0;
background: white;

  
  
}

h1, h2{
	display: block;
	margin: 0 auto;
	text-align: center;
}

h1{
	font-family: 'Fredoka One', cursive;
	padding: 10%;
	font-size: 3em;
	color: #1C6AB8;
}
h2{
	font-family: 'Squada One', cursive;
	color: #333;
}

#navbar{
	width: 100%;
	height: 50%;
	text-align: center;
	position: fixed;
	top: 0;
	padding: 0;
	/*background: 0 0 #333;*/
	border-bottom: solid 1px white;
	z-index: 10;
}

#navbar #logo{
	position: absolute;
	width: 100px;
	height: 100px;
	background: url(/images/molecule_small.png);
	background-repeat: no-repeat;
	top: -5px;
	left: 10%;
}

#nav a{
	margin: 0 5px;
	line-height: 3em;
	color: blue;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Fredoka One', cursive;
	display: inline-block;
	height: 138px;
	width: 75px;
	text-align: center;
}

#nav a:hover{
	color: black;
	/*background-position: -75px 0;*/
}

#main{
	border-top: solid 2px #333;
}

#main.frame{
	height: 700px;
	position: relative;
	border-bottom: dotted 5px #fff;
}

.cssgradients #about{
	
}

.footer{
	background: black;
	height: 50px;
	border-top: solid 5px #333;
}
.footer p{
	font-size: 10px;
	color: white;
}

.footer a{
	color: white;
	text-decoration: none;
}



/*div.forms, article {
	
	margin: 2.5%;
	padding: 1%;
	
}*/






form{
	padding-left: 25%;
	padding-right: 25%;
	margin: 5px;
	width: 80%;
	margin-bottom: 1.5em;
}

label{
	 margin: 0; 
  padding: 0; 
  display: block; 
  font-size: 100%; 
  padding-top: .1em; 
  padding-right: .25em; 
  width: 12em; 
  text-align: right; 
  float: left;
  color: black;

  }

input{
	margin: 0; 
  	padding: 0; 
  	
  	font-size: 100%; 
}

